
body {
  background-color: #710C04;
}

.titlepickle {
  font-size: 80px;
  font-family: "Arial Black";
  text-align: center;
  width: 1000px;
  border: 12px dotted #800000;
  border-radius: 100px;
  padding: 50px;
  background-color: #D0312D;
  margin:auto;
  margin-top: 20px;
}

.contents {
  text-align: center;
  font-family: "Arial Black";
  color: black;
}
.horiz{
  display: inline-block;
  font-size: 20px;
  background-color: olive;
  border-radius: 40px;
  text-align: center;
  padding: 15px;
  margin-right: 10px;
  margin-top: 25px;
  border: 8px dotted #445626;
}

.onpage {
  border: 8px solid #D0312D;
}


/*

.contents {
  color: black;
  display: flex;
}
.contents > div {
  font-family: "Arial Black";
  font-size: 20px;
  background-color: olive;
  flex: 1;
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-top: 25px;
  border: 8px dotted #445626;
}

.onpage {
  border-color: #800000;
}

*/
.landtext {
  background-color: #D0312D;
  height: 50%;
  max-height: 1000%;
  padding: 20px;
  margin: auto;
}

.lefty {
  object-fit: scale-down;
  align-content: start;
  float: left;
  height: auto;
  margin-right: 20px;
}
.landing {
  text-align: justify;
  margin: auto;
  text-align: left;
  font-size: 50px;
  height: 95%;
  max-height: 1000px;
  width: 90%;
  font-family: "Arial";
}
