
body {
  background-color: #710C04;
}

.titlepickle {
  font-size: 40px;
  font-family: "Arial Black";
  text-align: center;
  width: 500px;
  border: 6px dotted #800000;
  border-radius: 50px;
  padding: 25px;
  background-color: #D0312D;
  margin:auto;
  margin-top: 10px;
}

.contents {
  text-align: center;
  font-family: "Arial Black";
  color: black;
}
.horiz{
  display: inline;
  font-size: 10px;
  background-color: olive;
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  margin-right: 5px;
  margin-top: 12px;
  border: 4px dotted #445626;
}

.onpage {
  border: 4px solid #D0312D;
}

.landtext {
  border: 6px dotted #800000;
  background-color: #D0312D;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  padding: 10px;
  margin: 5px;
}

.lefty {
  flex: 0 0 auto;
  height: auto;
  max-width: 20%;
}
.landing {
  flex: 1;
  text-align: justify;
  padding: 5px;
  margin: 0;
  font-size: 30px;
  font-family: "Arial";
}

.link {
  font-size: 20px;
  font-family: "Arial Black";
  text-align: center;
  background-color: olive;
  border-radius: 40px;
  padding: 7px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 6px dotted #445626;
}


.box1 {
  font-size: 20px;
  font-family: "Arial Black";
  text-align: center;
  background-color: olive;
  border-radius: 40px;
  padding: 7px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 6px dotted #445626;
}

.box2 {
  font-size: 20px;
  font-family: "Arial Black";
  text-align: center;
  background-color: olive;
  border-radius: 40px;
  padding: 7px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 6px dotted #445626;
}

.redhead {
  font-size: 25px;
  max-width: 20%;
  font-family: "Arial Black";
  text-align: center;
  background-color: #ab0000;
  border-radius: 40px;
  padding: 7px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.boxes {
  border-radius: 40px;
  justify-content: center;
  display: flex;
  border: 6px dotted #800000;
  background-color: #D0312D;
  font-family: "Arial Black";
  padding: 2px;
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boxes > div {
  flex: 1;
  font-size: 25px;
  display: flex;
  align-items: center;
}
/*
.center {
  align-items: center;
}
*/
